# This file will need to be manually deployed
# to /etc/systemd/system/octoferm-process-manager.service
# https://www.axllent.org/docs/view/nodejs-service-with-systemd/
# Enable With: systemctl enable octoferm-process-manager.service
# Start With: systemctl start octoferm-process-manager.service
# Reload After Changes With: systemctl daemon-reload
# Followed By This: systemctl restart octoferm-process-manager.service

[Unit]
Description=Octoferm Process Manager

[Service]
ExecStart=/usr/local/bin/node /home/pi/octoferm-arduino-controller/src/process-manager.js
WorkingDirectory=/home/pi/octoferm-arduino-controller/
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=octoferm-proccess-manager
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target